nav(class="nav")
    div(class="container")
        div(class="row")
            div(class="col")
                img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4cW32H-G2cPHNnwo26YCKxfrBFtwcGES61WYo7JsA7q_oMDML", width="50", heigth="50")
            div(class="col")