section(class="preload-container", id="preload-container")
    div(class="container")
        div(class="row flex-column justify-content-between")
            div(class="col-auto")
            div(class="col-auto align-self-center")
                include logo.pug

            div(class="col-auto")
                div(class="loading-bar", id="progress-bar")