*,
*:after,
*:before
    margin: 0
    padding: 0

html
    font-size: $font-size-base
    user-select: none
    height: 100%

body
    font-smoothing: antialiased
    line-height: 1.5
    text-rendering: optimizeLegibility
    text-size-adjust: none
    background: white
    height: 100%

h1, h2, h3, h4, h5, h6
    margin: 0
    font-family: 'Rochella'
    font-weight: 300
    text-align: center

h1
    font-size: 36px

h2
    font-size: 36px
h3
    font-size: 28px

p, span
    font-family: 'KiteOne'
    text-align: center

ol li,
ul li
    list-style: none

a
    text-decoration: none