@font-face
    font-family: 'Rochella'
    src: url(/assets/fonts/rochella.otf)

@font-face
    font-family: 'KiteOne'
    src: url(/assets/fonts/kite-one.ttf)
    font-style: normal
    font-weight: 300;
