doctype html
html(lang='pt-br')
    head
        title É o Coringão
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no')
        meta(name='description', content='The UX Library')
        meta(name='theme-color', content='#ef7765')
        link(rel='shortcut icon', href='assets/images/favicon.ico')

    body
        div(class="bootstrap-wrapper")
            include templates/components/nav.pug
            include templates/sections/home.pug
            include templates/sections/history.pug
