section(class="section-history")
    div(class="container")
        article(class="row align-items-center history-item item-I")
            div(class="col-md-5")
                img(src="/assets/images/image6.jpg", class="image", data-preload)

            div(class="offset-md-1 col-md-6 paragraph-container")
                p(class="paragraph")
                    | em fevereiro de 1955, Corinthians e Palmeiras disputavam a partida decisiva do Campeonato Paulista de 1954, o jogo terminou em 1 a 1, e isso era o que bastava para o Timão soltar o grito de "É campeão". Naquele dia a Fiel comemorava então mais um título Paulista, o que eles não sabiam, é que este seria o último título de expressão que o clube comemoraria nas próximas duas décadas.

        article(class="row align-items-center history-item item-II")
            div(class="container-fluid")
                h2(class="history-title item-II")
                    | Sempre Altaneiro

            div(class="offset-md-1 col-md-5 order-0 order-md-1")
                img(src="/assets/images/image4.jpg", class="image", data-preload)

            div(class="col-md-6 paragraph-container order-1 order-md-0")
                p(class="paragraph")
                    | mesmo o jejum sendo considerado um período sem títulos, o clube Alvinegro conquistou alguns torneios de menor expressão, como Taça Rio São Paulo, Taça dos Invictos e Copa Cidade de São paulo. Contrariando a lógica, a torcida do time Alvinegro só aumentou durante esse período.
       
        article(class="row align-items-center history-item item-III")
            div(class="container-fluid")
                h2(class="history-title item-III")
                    | A Invasão

            div(class="col-md-6")
                img(src="/assets/images/image1.jpg", class="image", data-preload)

            div(class="offset-md-1 col-md-5 paragraph-container")
                p(class="paragraph")
                    | em 1976 o Timão quase conseguiu dar fim ao jejum, quando derrotou o Fluminense em uma semifinal do campeonato Brasileiro. Nessa partida, o Timão realizou um dos maiores eventos da história do Futebol,  a invasão Corinthiana, onde mais de 70 mil torcedores viajaram de São Paulo para o Rio de Janeiro, no Maracanã. Apesar desse marco, o time do parque São Jorge foi eliminado na final e prolongou a quebra do tabu mais um ano.

        article(class="row align-items-center history-item item-IV")
            div(class="container-fluid")
                h2(class="history-title item-IV")
                    | A Ascensão

            div(class="offset-md-1 col-md-5 order-0 order-md-1")
                img(src="/assets/images/image5.jpg", class="image", data-preload)

            div(class="col-md-6 paragraph-container order-1 order-md-0")
                p(class="paragraph")
                    | quinta-feira, 13 de outubro de 1977, data em que os Corinthianos puseram fim ao jejum de.aproximados 23 anos sem ganhar títulos de expressão, nesse dia o Timão enfrentou a Ponte Preta em uma final de campeonato Paulista, seria a chance perfeita para uma vitória  expressiva, e assim foi, com um gol icônico de Basílio, o Corinthians venceu  o último confronto da final por 1x0, e consagrou-se campeão Paulista pelo placar agregado de 3x2. Naquela quinta-feira, uma pedra foi colocada sobre o túmulo do maior jejum Alvinegro, e mais um capítulo foi escrito na história do time do parque São Jorge.

        article(class="row align-items-center photos-item")
            div(class="container-fluid")
                h2(class="history-title item-V")
                    | É o Coringão

            div(class="col-12 col-sm-12 col-md-4")
                img(src="/assets/images/image3.jpg", class="image", data-preload)
                img(src="/assets/images/image8.jpg", class="image", data-preload)

            div(class="col-12 col-sm-12 col-md-4")
                img(src="/assets/images/image2.jpg", class="image", data-preload)
                img(src="/assets/images/image7.jpg", class="image", data-preload)
                img(src="/assets/images/image5.jpg", class="image", data-preload)

            div(class="col-12 col-sm-12 col-md-4")
                img(src="/assets/images/image1.jpg", class="image", data-preload)
                img(src="/assets/images/image9.jpg", class="image", data-preload)

