section(class="section-home")
    div(class="container")
        div(class="row home-title-trigger")
            div(class="col-12")
                h1
                    | Sport Club Corinthians Paulista
                    br
                    span
                        | campeão paulista de 1977