section(class="section-home")
    div(class="container")
        div(class="row home-title-trigger")
            div(class="col-12")
                h1(id="title")
                    | Sport Club Corinthians Paulista
                    br
                    span(class="sub-title")
                        | campeão paulista de 1977