section(class="section-home")
    div(class="container")
        div(class="row")
            div(class="col-12")
                h1
                    | Sport Club Corinthians Paulista

        div(class="row")
            div(class="col-12")
                h2
                    | campeão paulista de 1977