section(class="section-home")
    div(class="container")
        div(class="row home-title-trigger")
            div(class="col-12")
                h2
                    | Sport Club Corinthians Paulista

        div(class="row home-desc-trigger")
            div(class="col-12")
                h3
                    | campeão paulista de 1977