.section-history
    margin-bottom: 32px

    .history-item
        .paragraph-container
            .paragraph
                font-size: 16px
                color: $brand-secondary

                &:first-letter
                    color: $brand-primary
                    font-size: 54px
                    line-height: 46px
                    margin-right: 6px
                    text-transform: uppercase
                    float: left

        .image
            width: 100%

    .photos-item
        .image
            margin: 12px 0px 12px 0px
            width: 100%

@media (max-width: $bd-md)
    .section-history
        .history-item
            .paragraph-container
                margin: 36px 0px 36px 0px
            .image
                margin: 36px 0px 36px 0px

        .history-title
            margin: 96px 0px 40px 0px

@media (min-width: $bd-md + 1)
    .section-history
        .history-title
            margin: 168px 0px 88px 0px