.nav
    // background: green
    width: 100%
    padding-top: 64px

    .logo
        width: 50px
        height: 50px
        display: block

    .menu
        width: 50px
        height: 50px
        background-color: blue
        display: block